keepaway.sh
sample_coach
sample_player
sample_trainer
start.sh
train.sh

.idea/.gitignore
.idea/grpc-2d-base.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/config.h
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-7e63436ad41e5531bac8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-839f578690ca751f4ccf.json
build/.cmake/api/v1/reply/codemodel-v2-f2f9739c60756873b1bf.json
build/.cmake/api/v1/reply/index-2023-12-17T03-12-21-0851.json
build/.cmake/api/v1/reply/target-sample_coach-Debug-e14a4e267c7396dd2c24.json
build/.cmake/api/v1/reply/target-sample_player-Debug-aa50046814d6a9dee135.json
build/.cmake/api/v1/reply/target-sample_trainer-Debug-cb757a2e06fd2541cb06.json
build/.cmake/api/v1/reply/target-service_grpc_proto-Debug-a57e53fce5ad4c06d9fc.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.19.6/CMakeCCompiler.cmake
build/CMakeFiles/3.19.6/CMakeCXXCompiler.cmake
build/CMakeFiles/3.19.6/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.19.6/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.19.6/CMakeSystem.cmake
build/CMakeFiles/3.19.6/CompilerIdC/a.out
build/CMakeFiles/3.19.6/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.19.6/CompilerIdCXX/a.out
build/CMakeFiles/3.19.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/97
build/CMakeFiles/Progress/98
build/CMakeFiles/Progress/99
build/CMakeFiles/Progress/100
build/CMakeFiles/Progress/count.txt
build/bin/coach.conf
build/bin/player.conf
build/bin/start-debug.sh
build/bin/start-offline.sh
build/bin/formations-dt/before-kick-off.conf
build/bin/formations-dt/defense-formation.conf
build/bin/formations-dt/goal-kick-opp.conf
build/bin/formations-dt/goal-kick-our.conf
build/bin/formations-dt/goalie-catch-opp.conf
build/bin/formations-dt/goalie-catch-our.conf
build/bin/formations-dt/goalie-formation.conf
build/bin/formations-dt/indirect-freekick-opp-formation.conf
build/bin/formations-dt/indirect-freekick-our-formation.conf
build/bin/formations-dt/kickin-our-formation.conf
build/bin/formations-dt/normal-formation.conf
build/bin/formations-dt/offense-formation.conf
build/bin/formations-dt/setplay-opp-formation.conf
build/bin/formations-dt/setplay-our-formation.conf
build/bin/formations-keeper/before-kick-off.conf
build/bin/formations-keeper/defense-formation.conf
build/bin/formations-keeper/goal-kick-opp.conf
build/bin/formations-keeper/goal-kick-our.conf
build/bin/formations-keeper/goalie-catch-opp.conf
build/bin/formations-keeper/goalie-catch-our.conf
build/bin/formations-keeper/goalie-formation.conf
build/bin/formations-keeper/indirect-freekick-opp-formation.conf
build/bin/formations-keeper/indirect-freekick-our-formation.conf
build/bin/formations-keeper/kickin-our-formation.conf
build/bin/formations-keeper/normal-formation.conf
build/bin/formations-keeper/offense-formation.conf
build/bin/formations-keeper/setplay-opp-formation.conf
build/bin/formations-keeper/setplay-our-formation.conf
build/bin/formations-taker/before-kick-off.conf
build/bin/formations-taker/defense-formation.conf
build/bin/formations-taker/goal-kick-opp.conf
build/bin/formations-taker/goal-kick-our.conf
build/bin/formations-taker/goalie-catch-opp.conf
build/bin/formations-taker/goalie-catch-our.conf
build/bin/formations-taker/goalie-formation.conf
build/bin/formations-taker/indirect-freekick-opp-formation.conf
build/bin/formations-taker/indirect-freekick-our-formation.conf
build/bin/formations-taker/kickin-our-formation.conf
build/bin/formations-taker/normal-formation.conf
build/bin/formations-taker/offense-formation.conf
build/bin/formations-taker/setplay-opp-formation.conf
build/bin/formations-taker/setplay-our-formation.conf
build/src/cmake_install.cmake
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/coach/cmake_install.cmake
build/src/coach/Makefile
build/src/coach/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/coach/CMakeFiles/progress.marks
build/src/coach/CMakeFiles/sample_coach.dir/build.make
build/src/coach/CMakeFiles/sample_coach.dir/cmake_clean.cmake
build/src/coach/CMakeFiles/sample_coach.dir/CXX.includecache
build/src/coach/CMakeFiles/sample_coach.dir/depend.internal
build/src/coach/CMakeFiles/sample_coach.dir/depend.make
build/src/coach/CMakeFiles/sample_coach.dir/DependInfo.cmake
build/src/coach/CMakeFiles/sample_coach.dir/flags.make
build/src/coach/CMakeFiles/sample_coach.dir/link.txt
build/src/coach/CMakeFiles/sample_coach.dir/main_coach.cpp.o
build/src/coach/CMakeFiles/sample_coach.dir/progress.make
build/src/coach/CMakeFiles/sample_coach.dir/sample_coach.cpp.o
build/src/coach/CMakeFiles/sample_coach.dir/sample_freeform_message.cpp.o
build/src/grpc/cmake_install.cmake
build/src/grpc/libservice_grpc_proto.a
build/src/grpc/Makefile
build/src/grpc/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/grpc/CMakeFiles/progress.marks
build/src/grpc/CMakeFiles/service_grpc_proto.dir/build.make
build/src/grpc/CMakeFiles/service_grpc_proto.dir/cmake_clean_target.cmake
build/src/grpc/CMakeFiles/service_grpc_proto.dir/cmake_clean.cmake
build/src/grpc/CMakeFiles/service_grpc_proto.dir/CXX.includecache
build/src/grpc/CMakeFiles/service_grpc_proto.dir/depend.internal
build/src/grpc/CMakeFiles/service_grpc_proto.dir/depend.make
build/src/grpc/CMakeFiles/service_grpc_proto.dir/DependInfo.cmake
build/src/grpc/CMakeFiles/service_grpc_proto.dir/flags.make
build/src/grpc/CMakeFiles/service_grpc_proto.dir/link.txt
build/src/grpc/CMakeFiles/service_grpc_proto.dir/progress.make
build/src/grpc/CMakeFiles/service_grpc_proto.dir/service.grpc.pb.cc.o
build/src/grpc/CMakeFiles/service_grpc_proto.dir/service.pb.cc.o
build/src/player/cmake_install.cmake
build/src/player/Makefile
build/src/player/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/player/CMakeFiles/progress.marks
build/src/player/CMakeFiles/sample_player.dir/bhv_basic_move.cpp.o
build/src/player/CMakeFiles/sample_player.dir/bhv_basic_tackle.cpp.o
build/src/player/CMakeFiles/sample_player.dir/bhv_custom_before_kick_off.cpp.o
build/src/player/CMakeFiles/sample_player.dir/bhv_goalie_basic_move.cpp.o
build/src/player/CMakeFiles/sample_player.dir/bhv_goalie_chase_ball.cpp.o
build/src/player/CMakeFiles/sample_player.dir/bhv_goalie_free_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/bhv_penalty_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/build.make
build/src/player/CMakeFiles/sample_player.dir/cmake_clean.cmake
build/src/player/CMakeFiles/sample_player.dir/CXX.includecache
build/src/player/CMakeFiles/sample_player.dir/depend.internal
build/src/player/CMakeFiles/sample_player.dir/depend.make
build/src/player/CMakeFiles/sample_player.dir/DependInfo.cmake
build/src/player/CMakeFiles/sample_player.dir/flags.make
build/src/player/CMakeFiles/sample_player.dir/intention_receive.cpp.o
build/src/player/CMakeFiles/sample_player.dir/keepaway_communication.cpp.o
build/src/player/CMakeFiles/sample_player.dir/link.txt
build/src/player/CMakeFiles/sample_player.dir/neck_default_intercept_neck.cpp.o
build/src/player/CMakeFiles/sample_player.dir/neck_goalie_turn_neck.cpp.o
build/src/player/CMakeFiles/sample_player.dir/neck_offensive_intercept_neck.cpp.o
build/src/player/CMakeFiles/sample_player.dir/progress.make
build/src/player/CMakeFiles/sample_player.dir/role_center_back.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_center_forward.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_defensive_half.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_goalie.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_keepaway_keeper.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_keepaway_taker.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_offensive_half.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_sample.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_side_back.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_side_forward.cpp.o
build/src/player/CMakeFiles/sample_player.dir/role_side_half.cpp.o
build/src/player/CMakeFiles/sample_player.dir/sample_communication.cpp.o
build/src/player/CMakeFiles/sample_player.dir/sample_field_evaluator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/sample_freeform_message_parser.cpp.o
build/src/player/CMakeFiles/sample_player.dir/soccer_role.cpp.o
build/src/player/CMakeFiles/sample_player.dir/strategy.cpp.o
build/src/player/CMakeFiles/sample_player.dir/view_tactical.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/basic_actions.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/bhv_before_kick_off.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/bhv_emergency.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/bhv_go_to_point_look_ball.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/bhv_scan_field.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_advance_ball2009.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_clear_ball2009.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_dribble2008.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_go_to_point_dodge.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_go_to_point.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_hold_ball2008.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_intercept2018.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_kick_one_step.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_kick_to_relative.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_pass.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_smart_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_stop_ball.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/body_stop_dash.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/focus_move_to_point.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/focus_reset.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/intention_dribble2008.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/intention_time_limit_action.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/intercept_evaluator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/kick_table.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_scan_field.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_scan_players.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_turn_to_ball_and_player.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_turn_to_ball_or_scan.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_turn_to_goalie_or_scan.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_turn_to_low_conf_teammate.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/neck_turn_to_player_or_scan.cpp.o
build/src/player/CMakeFiles/sample_player.dir/basic_actions/view_synch.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_cross.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_direct_pass.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_self_pass.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_shoot.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_short_dribble.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_simple_dribble.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/actgen_strict_check_pass.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/action_chain_graph.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/action_chain_holder.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/bhv_normal_dribble.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/bhv_pass_kick_find_receiver.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/bhv_planned_action.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/bhv_strict_check_shoot.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/body_force_shoot.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/clear_ball.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/clear_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/cooperative_action.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/cross_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/dribble.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/field_analyzer.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/hold_ball.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/neck_turn_to_receiver.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/pass.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/predict_state.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/self_pass_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/shoot_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/shoot.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/short_dribble_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/simple_pass_checker.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/strict_check_pass_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/planner/tackle_generator.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_go_to_placed_ball.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_prepare_set_play_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_set_play_free_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_set_play_goal_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_set_play_indirect_free_kick.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_set_play_kick_in.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_set_play_kick_off.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_set_play.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/bhv_their_goal_kick_move.cpp.o
build/src/player/CMakeFiles/sample_player.dir/setplay/intention_wait_after_set_play_kick.cpp.o
build/src/trainer/cmake_install.cmake
build/src/trainer/Makefile
build/src/trainer/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/trainer/CMakeFiles/progress.marks
build/src/trainer/CMakeFiles/sample_trainer.dir/build.make
build/src/trainer/CMakeFiles/sample_trainer.dir/cmake_clean.cmake
build/src/trainer/CMakeFiles/sample_trainer.dir/CXX.includecache
build/src/trainer/CMakeFiles/sample_trainer.dir/depend.internal
build/src/trainer/CMakeFiles/sample_trainer.dir/depend.make
build/src/trainer/CMakeFiles/sample_trainer.dir/DependInfo.cmake
build/src/trainer/CMakeFiles/sample_trainer.dir/flags.make
build/src/trainer/CMakeFiles/sample_trainer.dir/link.txt
build/src/trainer/CMakeFiles/sample_trainer.dir/main_trainer.cpp.o
build/src/trainer/CMakeFiles/sample_trainer.dir/progress.make
build/src/trainer/CMakeFiles/sample_trainer.dir/sample_trainer.cpp.o
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-wsl/CMakeCache.txt
cmake-build-debug-wsl/config.h
cmake-build-debug-wsl/.cmake/api/v1/query/cache-v2
cmake-build-debug-wsl/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug-wsl/.cmake/api/v1/query/codemodel-v2
cmake-build-debug-wsl/.cmake/api/v1/query/toolchains-v1
cmake-build-debug-wsl/CMakeFiles/clion-Debug-WSL-log.txt
cmake-build-debug-wsl/CMakeFiles/clion-environment.txt
cmake-build-debug-wsl/CMakeFiles/cmake.check_cache
cmake-build-debug-wsl/CMakeFiles/CMakeOutput.log
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeCCompiler.cmake
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeSystem.cmake
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdC/a.out
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdCXX/a.out
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeCache.txt
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/.cmake/api/v1/reply/cache-v2-2252c390039bad990173.json
build/.cmake/api/v1/reply/cmakeFiles-v1-cf1963af3f6019bf614a.json
build/.cmake/api/v1/reply/codemodel-v2-38a6c0b871c80c667d9b.json
build/.cmake/api/v1/reply/index-2023-12-17T03-42-49-0306.json
build/.cmake/api/v1/reply/target-sample_coach-Release-068a1cac1e0331ec59b1.json
build/.cmake/api/v1/reply/target-sample_player-Release-738d72a9e5719ecd780b.json
build/.cmake/api/v1/reply/target-sample_trainer-Release-370c7b43211757f42484.json
build/.cmake/api/v1/reply/target-service_grpc_proto-Release-d01ab1257d8068157a6c.json
build/src/player/CMakeFiles/sample_player.dir/main_player.cpp.o
build/src/player/CMakeFiles/sample_player.dir/sample_player.cpp.o
build/src/player/CMakeFiles/sample_player.dir/__/grpc/service.grpc.pb.cc.o
build/src/player/CMakeFiles/sample_player.dir/__/grpc/service.pb.cc.o
build/src/player/CMakeFiles/sample_player.dir/__/grpc/state_generator.cpp.o
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-310.pyc
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-311.pyc
grpc/python-v1/__pycache__/service_pb2.cpython-310.pyc
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-311.pyc
