keepaway.sh
sample_coach
sample_player
sample_trainer
start.sh
train.sh

.idea/.gitignore
.idea/grpc-2d-base.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug-wsl/CMakeCache.txt
cmake-build-debug-wsl/config.h
cmake-build-debug-wsl/.cmake/api/v1/query/cache-v2
cmake-build-debug-wsl/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug-wsl/.cmake/api/v1/query/codemodel-v2
cmake-build-debug-wsl/.cmake/api/v1/query/toolchains-v1
cmake-build-debug-wsl/CMakeFiles/clion-Debug-WSL-log.txt
cmake-build-debug-wsl/CMakeFiles/clion-environment.txt
cmake-build-debug-wsl/CMakeFiles/cmake.check_cache
cmake-build-debug-wsl/CMakeFiles/CMakeOutput.log
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeCCompiler.cmake
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug-wsl/CMakeFiles/3.22.1/CMakeSystem.cmake
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdC/a.out
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdCXX/a.out
cmake-build-debug-wsl/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-release/CMakeCache.txt
cmake-build-release/.cmake/api/v1/query/cache-v2
cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-release/.cmake/api/v1/query/codemodel-v2
cmake-build-release/.cmake/api/v1/query/toolchains-v1
cmake-build-release/CMakeFiles/clion-environment.txt
cmake-build-release/CMakeFiles/clion-Release-log.txt
cmake-build-release/CMakeFiles/cmake.check_cache
cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-release/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-release/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-release/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-310.pyc
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-311.pyc
grpc/python-v1/__pycache__/service_pb2.cpython-310.pyc
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-311.pyc
.vscode/settings.json
grpc/python-v1/src/__pycache__/DecisionMaker.cpython-310.pyc
grpc/python-v1/src/__pycache__/delaunay_triangulation.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_NoBall.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_PlayOn.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_SetPlay.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_WithBall.cpython-310.pyc
grpc/python-v1/src/__pycache__/FormationStrategy.cpython-310.pyc
grpc/python-v1/src/__pycache__/IAgent.cpython-310.pyc
grpc/python-v1/src/__pycache__/IDecisionMaker.cpython-310.pyc
grpc/python-v1/src/__pycache__/IPositionStrategy.cpython-310.pyc
grpc/python-v1/src/__pycache__/SamplePlayerAgent.cpython-310.pyc

build/