keepaway.sh
sample_coach
sample_player
sample_trainer
start.sh
train.sh

.idea/.gitignore
.idea/grpc-2d-base.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-310.pyc
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-311.pyc
grpc/python-v1/__pycache__/service_pb2.cpython-310.pyc
grpc/python-v1/__pycache__/service_pb2_grpc.cpython-311.pyc
.vscode/settings.json
grpc/python-v1/src/__pycache__/DecisionMaker.cpython-310.pyc
grpc/python-v1/src/__pycache__/delaunay_triangulation.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_NoBall.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_PlayOn.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_SetPlay.cpython-310.pyc
grpc/python-v1/src/__pycache__/DM_WithBall.cpython-310.pyc
grpc/python-v1/src/__pycache__/FormationStrategy.cpython-310.pyc
grpc/python-v1/src/__pycache__/IAgent.cpython-310.pyc
grpc/python-v1/src/__pycache__/IDecisionMaker.cpython-310.pyc
grpc/python-v1/src/__pycache__/IPositionStrategy.cpython-310.pyc
grpc/python-v1/src/__pycache__/SamplePlayerAgent.cpython-310.pyc

build/
cmake-build-debug/
cmake-build-release/
cmake-build-debug-wsl/